html {
    font-size: 18px;
   
  }
 * {
     margin:0;
     padding:0;
   }

 h1{
    text-align: center;
    padding-top: 50px;
    color: aqua;
  } 
  form{
    text-align: center;
    padding: 50px;
    border-color: transparent;

  }
  button{
      color: black;
      background-color: aqua;
      padding: 2%;
      border-color: transparent;
  }
  input{
      border-color: aqua;
      border-radius: 15%;
      border-width: 3px;
  }
  textarea{
    border-color: aqua;
    border-radius: 15%;
    border-width: 3px;
}
  /* #hero {
    width: 100%;
    height: 120vh;
    background:linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.24)), url("ecommerce.jpeg") no-repeat center / cover;
    color: white;
   } */

   .hero-image {
    /* background-image: url("https://live.staticflickr.com/65535/47611743802_bf9ec8f188_b.jpg"); */
    background-image: url("https://i.imgur.com/YvWwppt.jpg");
    width: 100%;
    height: 120vh;
    color: black;
    background-size: cover;
   }