* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*Nav bar log img */
.logo img {
  width: 80px;
  height: 70px;
  
}


nav {
  font-family: fantasy;
  padding: 5px;
  height: 80px;
  width: 100%;
  background: #c3fae8;
}
nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
a.active,
a:hover {
  background-color: cadetblue;
  border: 1px solid white;
  transition: 0.5s;
}
nav #icon {
  color: aquamarine;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1048px) {
  label.logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin: right 20px;
  }
  nav a {
    font-size: 17px;
  }
}
@media (max-width: 909px) {
  nav #icon {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c5f6fa;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav li {
    display: block;
    margin: 50px;
    line-height: 30px;
  }
  nav a {
    font-size: 20px;
  }
  a.active,
  a:hover {
    border: none;
    color: #3498db;
  }
  nav ul.show {
    left: 0;
  }
}
h1 {
  align-items: center;
}

/* //////HERO IMAGE ////// */
.hero {
  background-image: url("img/underwater_hero.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  position: relative;
  margin: 0px;
  padding: 200px;
  filter: grayscale(30%);
}

.hero-title {
  color: white;
  font-size: 45px;
  font-family: "fantasy", "copperplate";
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
}
a {
  text-decoration: none;
}
.hero-button {
  font-family: "fantasy", "copperplate";
  padding: 10px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #66d9e8;
  border: 2px solid #fff;
  border-radius: 10px;
  position: relative;
  color: black;
}

.hero-button:hover {
  background-color: #38d9a9;
  color: black;
  border-color: #ffe866;
}
/*////////// Footer //////////*/
footer {
  background-color: #c3fae8;
  padding: 4rem 0 4rem 0;
  box-sizing: border-box;
}

.footer-container {
  width: 80%;
  height: 19vh;
  background-color: #c3fae8;
  color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: black;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: aqua;
  transition: 0.3 ease-out;
}

.footer-img img {
  margin-left: 0;
  margin-right: 5rem;
  width: 170px;
  height: 160px;
}
.copyrights {
  text-align: center;
}
@media (max-width: 990px) {
  .ft-3 {
    display: none;
  }
}

@media (max-width: 450px) {
    .hero-title {
      display: none;
    }
    footer {
      padding-top: 2rem;
      padding-bottom: .7rem;
    }  
    .ft-1 {
      display: none;
    }
    .ft-2 {
      display: none;
    }
    .ft-3 {
      display: none;
    }
    .copyrights {
      font-size: x-large;
    }
    .footer-img img {
      width: 100px;
      height: 90px;
      margin-left: 5.5rem;
    }
  }